<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/annonces"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="showAlert()" slot="icon-only" name="trash-outline"></ion-icon>
    </ion-buttons>
    <ion-title><h4>Details</h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item *ngFor="let imageUrl of selectedAnnonce.listOfImage">
        <img [src]="imageUrl" width="50%">
      </ion-item>
    </ion-list>
    <ion-row>
      <p>
        Description: {{ selectedAnnonce.description }}
      </p>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-list [inset]="true">
      <ion-item> 
        <ion-label>Titre: {{ selectedAnnonce.titre }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Prix: {{ selectedAnnonce.prix }} DT </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Categorie: {{ selectedAnnonce.category }} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Nom: {{ selectedAnnonce.nom }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Telephone: {{ selectedAnnonce.telephone }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Localisation: {{ selectedAnnonce.localisation }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>


</ion-content>
