<ion-content fullscreen="true" slot="fixed" >
  <div class="wave-container">
    <div class="ion-padding">
      <h1>GLSI-N</h1>
      <h4><i>Application de gestion des annonces</i></h4>
    </div>
   

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#3880ff" fill-opacity="1" d="M0,64L120,101.3C240,139,480,213,720,202.7C960,192,1200,96,1320,48L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>
  

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <div class="signin-btns">
            <ion-list>
              <ion-item>
                <ion-label position="floating">Email:</ion-label>
                <ion-input placeholder="Enter your email" type="email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password:</ion-label>
                <ion-input placeholder="Enter your password" type="password"></ion-input>
              </ion-item> 
              <ion-item> <ion-button color="primary" fill="solid" shape="round" ion-no-padding [routerLink]="['/annonces']">Connexion</ion-button></ion-item>
              <ion-item>
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Remember me</ion-label>
              </ion-item>
            </ion-list>
          
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>